{% extends 'base.html' %}

{% block content %}

<h3>Pagination</h3>
<table id="myTable">
    <thead>
        <tr>
            <th>show_id</th>
            <th>show_type</th>
            <th>title</th>
            <th>director</th>
            <th>cast</th>
            <th>country</th>
            <th>date_added</th>
            <th>release_year</th>
            <th>rating</th>
            <th>duration</th>
            <th>listed_in</th>
            <th>description</th>
        </tr>
    </thead>
</table>

<!-- {% for page in no_of_pages %}

<a href="{{page}}">{{page}}</a>

{% endfor %} -->
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            serverSide: true,
            ordering: false,
            searching: false,
            ajax: {
                url: "/netflix_paginate_data",
                method: "GET",

            },
            columns: [
                { "data": "show_id" },
                { "data": "show_type" },
                { "data": "title" },
                { "data": "director" },
                { "data": "cast" },
                { "data": "country" },
                { "data": "date_added" },
                { "data": "release_year" },
                { "data": "rating" },
                { "data": "duration" },
                { "data": "listed_in" },
                { "data": "description" },
            ]
        })
    });

</script>
{% endblock %}