{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>Netflix List</h2>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>show_id</th>
            <th>show_type</th>
            <th>title</th>
            <th>director</th>
            <th>cast</th>
            <th>country</th>
            <th>date_added</th>
            <th>release_year</th>
            <th>rating</th>
            <th>duration</th>
            <th>listed_in</th>
            <th>description</th>
        </tr>
    </thead>
</table>
<script src="{% static 'js/script.js' %}"></script>

{% endblock %}