{% extends 'base.html' %}

{% block content %}

<h3>Pagination</h3>
<table id="myTable">
    <thead>
        <tr>
            <th>image_name</th>
            <th>tags</th>
            <th>bike</th>
            <th>auto</th>
            <th>car</th>
            <th>bus</th>
            <th>taxi</th>

        </tr>
    </thead>
</table>

<!-- {% for page in no_of_pages %}

<a href="{{page}}">{{page}}</a>

{% endfor %} -->
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            serverSide: true,
            ordering: false,
            searching: false,
            ajax: {
                url: "/planet_paginate_data",

                method: "GET",
                dataSrc: "",
            },
            columns: [
                { "data": "image_name" },
                { "data": "tags" },
                { "data": "bike" },
                { "data": "auto" },
                { "data": "car" },
                { "data": "bus" },
                { "taxi": "taxi" }

            ]
        })
    });

</script>
{% endblock %}